#airport-map{
    width: 800px;
    height: 600px;
	margin: 0 auto;
}

#exercise-toggle {
    cursor: pointer;
}

#instruction-toggle {
    line-height: 44px;
    vertical-align: text-bottom;
    font-size: 32px;
    font-weight: bold;
}

.airport-controls {
	margin: 0 auto;
	width: 350px;
}